html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  direction: rtl;
}

.main-content {
  padding: 20px;
  min-height: calc(100vh - 160px);
  box-sizing: border-box;
  direction: rtl;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.main-footer {
  background-color: #f1f1f1;
  padding: 5px;
  text-align: center;
}
