h1,
p,
button {
  cursor: pointer;
  text-align: center;
  margin: 0 auto;
  height: max-content;
  width: max-content;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-color: burlywood;
}
