table {
  width: 100%;
  text-align: right;
}

th.mat-header-cell,
td.mat-cell {
  text-align: right;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(206, 111, 73);
  background-color: #f1f1f1;
  padding: 25px;
  text-align: center;
}

span {
  text-align: center;
  font-family: Arial, sans-serif;
  color: rgb(151, 114, 99);
  background-color: #f1f1f1;
  padding: 5px;
  text-align: right;
}
